.navbar-default {
  background-color: #171a21;
  border-color: #171a21;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #919ab0;
}

.navbar-default .navbar-text {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #919ab0;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #171a21;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #919ab0;
  background-color: #171a21;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #171a21;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #919ab0;
  background-color: #171a21;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #919ab0;
  background-color: #171a21;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #919ab0;
  background-color: #171a21;
}

.navbar-default .navbar-toggle {
  border-color: #171a21;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #171a21;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}

.navbar-default .navbar-link {
  color: #ffffff;
}

.navbar-default .navbar-link:hover {
  color: #919ab0;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #919ab0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #919ab0;
    background-color: #171a21;
  }
}

.btn-primary {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/polar.otf");
  font-family: 'Polar';
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}

svg {
  display: block;
  overflow: visible;
}

.slider-container {
  position: relative;
  height: 100%;
  user-select: none;
  cursor: all-scroll;
}

.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}

.slider-control.inactive:hover {
  cursor: auto;
}

.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}

.slider-control.left {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, transparent 100%);
}

.slider-control.right {
  right: 0;
  background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.18) 100%);
}

.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}

.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}

.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
  transform: translate(-50%, -50%) scale(0);
}

.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
  transform: translate(-50%, -50%) scale(1);
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}

.slider.animating {
  transition: transform 0.5s;
  will-change: transform;
}

.slider.animating .slide__bg {
  transition: transform 0.5s;
  will-change: transform;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide.active .slide__overlay,
.slide.active .slide__text {
  opacity: 1;
  transform: translateX(0);
}

.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
}

.slide:nth-child(1) {
  left: 0;
}

.slide:nth-child(1) .slide__bg {
  left: 0;
  background-image: url("../img/bf1.jpg");
}

.slide:nth-child(1) .slide__overlay-path {
  fill: #e99c7e;
}

@media (max-width: 991px) {
  .slide:nth-child(1) .slide__text {
    background-color: rgba(233, 156, 126, 0.8);
  }
}

.slide:nth-child(2) {
  left: 100%;
}

.slide:nth-child(2) .slide__bg {
  left: -50%;
  background-image: url("../img/gta.jpg");
}

.slide:nth-child(2) .slide__overlay-path {
  fill: #e1ccae;
}

@media (max-width: 991px) {
  .slide:nth-child(2) .slide__text {
    background-color: rgba(225, 204, 174, 0.8);
  }
}

.slide:nth-child(3) {
  left: 200%;
}

.slide:nth-child(3) .slide__bg {
  left: -100%;
  background-image: url("../img/steep.jpg");
}

.slide:nth-child(3) .slide__overlay-path {
  fill: #adc5cd;
}

@media (max-width: 991px) {
  .slide:nth-child(3) .slide__text {
    background-color: rgba(173, 197, 205, 0.8);
  }
}

.slide:nth-child(4) {
  left: 300%;
}

.slide:nth-child(4) .slide__bg {
  left: -150%;
  background-image: url("../img/se7.jpg");
}

.slide:nth-child(4) .slide__overlay-path {
  fill: #cbc6c3;
}

@media (max-width: 991px) {
  .slide:nth-child(4) .slide__text {
    background-color: rgba(203, 198, 195, 0.8);
  }
}

.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  will-change: transform, opacity;
  transform: translate3d(-20%, 0, 0);
  opacity: 0;
}

@media (max-width: 991px) {
  .slide__overlay {
    display: none;
  }
}

.slide__overlay path {
  opacity: 0.8;
}

.slide__text {
  position: absolute;
  width: 25%;
  bottom: 15%;
  left: 12%;
  color: #fff;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  will-change: transform, opacity;
  transform: translateY(-50%);
  opacity: 0;
}

@media (max-width: 991px) {
  .slide__text {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20rem;
    text-align: center;
    transform: translateY(50%);
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    padding: 0 1rem;
  }
}

.slide__text-heading {
  font-family: "Polar", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  margin-bottom: 2rem;
}

@media (max-width: 991px) {
  .slide__text-heading {
    line-height: 20rem;
    font-size: 3.5rem;
  }
}

.slide__text-desc {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 991px) {
  .slide__text-desc {
    display: none;
  }
}

.slide__text-link {
  z-index: 5;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2.3rem;
  perspective: 1000px;
}

@media (max-width: 991px) {
  .slide__text-link {
    display: none;
  }
}

.slide__text-link:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transform-origin: 50% 100%;
  transform: rotateX(-85deg);
  transition: transform 0.3s;
  will-change: transform;
}

.slide__text-link:hover:before {
  transform: rotateX(0);
}

.modal-content {
  background-color: #171a21;
  color: white;
  font-size: 15px;
}

/* DAHBOARD */
* {
  box-sizing: border-box;
}

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label {
  display: none;
  cursor: pointer;
  user-select: none;
}

/* background for li / select */
/* custom-dropdown */
nav[role="custom-dropdown"] {
  position: relative;
  width: 100%;
}

nav[role="custom-dropdown"] a,
nav[role="custom-dropdown"] label {
  color: #ccc;
  text-decoration: none;
  font: 1.4em sans-serif;
  transition: color .3s ease-in-out;
}

nav[role="custom-dropdown"] ul {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  list-style: none;
}

nav[role="custom-dropdown"] ul > li {
  font-size: 2em;
  float: left;
  padding: .99em .99em;
  width: 20%;
  background-image: url(https://raw.github.com/TimPietrusky/mantisbt-is-a-rockstar/master/rockstar/img/bg_dark_grey.png);
  text-align: center;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow, color;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

nav[role="custom-dropdown"] ul > li:hover {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35), inset 0 0 0 2em rgba(0, 0, 0, 0.3);
}

nav[role="custom-dropdown"] ul > li:hover > a {
  color: #fff;
}

/* small screens */
@media screen and (max-width: 44em) {
  html,
  body {
    margin: 0;
  }
  nav[role="custom-dropdown"] ul {
    display: none;
    height: 100%;
  }
  nav[role="custom-dropdown"] label {
    position: relative;
    display: block;
    width: 100%;
    min-height: 2.25em;
    padding: .45em;
    margin: 0;
    border: 0.15em solid rgba(60, 60, 60, 0.2);
    background-image: url(https://raw.github.com/TimPietrusky/mantisbt-is-a-rockstar/master/rockstar/img/bg_dark_grey.png);
  }
  nav[role="custom-dropdown"] label:after {
    position: absolute;
    right: .25em;
    top: 0;
    content: "\2261";
    font-size: 1.8em;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ label:after {
    color: #222;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul {
    display: block;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    opacity: .8;
    text-align: left;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li:after {
    position: absolute;
    right: .25em;
    content: "\203A";
    font: bold 1.4em sans-serif;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #242c38;
  font-family: 'Roboto';
  font-size: 62.5%;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  width: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #00c5b9;
  text-decoration: none;
}

h1 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding-top: 50px;
  font-weight: 300;
  font-size: 4em;
}

/** ---------------------------------------
 * Slider 
 ----------------------------------------*/
.container1 {
  width: 800px;
  margin: 40px auto 0;
}

.slider-wrapper {
  z-index: 500;
  position: relative;
  width: 100%;
  height: 360px;
  background: #FFF;
  border: 5px solid #4b5973;
  overflow: hidden;
}

.slider-wrapper li {
  display: none;
}

.slider-wrapper .current-slide {
  display: block;
}

.slider-shadow {
  width: 100%;
  height: 15px;
  position: relative;
}

.slider-shadow:after, .slider-shadow:before {
  content: '';
  position: absolute;
  background: #171c24;
  height: 100%;
  width: 50%;
  left: 10px;
  top: -20px;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
  -webkit-box-shadow: 0 0 15px 8px #171c24;
  box-shadow: 0 0 15px 8px #171c24;
}

.slider-shadow:before {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
}

.slider-wrapper img {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

/**
 * ---[Caption] ---------------------- 
 **/
.slider-wrapper .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  padding: 10px;
  color: #FFF;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.slider-wrapper li:hover .caption {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.slider-wrapper h2 {
  color: #00c5b9;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 6px;
}

.slider-wrapper p {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.4em;
}

/**
 * ---[Botones-Control] ---------------------- 
 **/
.control-buttons {
  margin-top: 15px;
  text-align: center;
}

.control-buttons li {
  cursor: pointer;
  display: inline-block;
  background: #424f66;
  text-indent: -99999px;
  height: 12px;
  width: 12px;
  margin: 0 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.control-buttons li.active {
  background: #00c5b9;
}

.authors {
  text-align: center;
  color: #7a8699;
  display: block;
  font-size: 1.6em;
  font-weight: 300;
  margin-top: 80px;
  font-size: 300;
}

/** ---------------------------------------
 * Responsive 
 ----------------------------------------*/
@media only screen and (max-width: 825px) {
  .container {
    width: 500px;
  }
  .slider-wrapper {
    height: 260px;
  }
}

@media only screen and (max-width: 535px) {
  .container {
    padding: 5px;
    width: 100%;
    margin: 40px 0 0 0;
  }
  .slider-wrapper {
    height: 200px;
  }
  .slider-wrapper .caption {
    display: none;
  }
}

@media only screen and (max-width: 410px) {
  .slider-wrapper {
    height: 160px;
  }
}
