$bgDefault      : #171a21;
$bgHighlight    : #171a21;
$colDefault     : #ffffff;
$colHighlight   : #919ab0;
$dropDown       : true;
.navbar-default {
background-color: $bgDefault;
border-color: $bgHighlight;
.navbar-brand {
color: $colDefault;
&:hover, &:focus {
color: $colHighlight; }}
.navbar-text {
color: $colDefault; }
.navbar-nav {
> li {
> a {
color: $colDefault;
&:hover,  &:focus {
color: $colHighlight; }}
@if $dropDown {
> .dropdown-menu {
background-color: $bgDefault;
> li {
> a {
color: $colDefault;
&:hover,  &:focus {
color: $colHighlight;
background-color: $bgHighlight; }}
> .divider {
background-color: $bgHighlight;}}}}}
@if $dropDown {
.open .dropdown-menu > .active {
> a, > a:hover, > a:focus {
color: $colHighlight;
background-color: $bgHighlight; }}}
> .active {
> a, > a:hover, > a:focus {
color: $colHighlight;
background-color: $bgHighlight; }}
> .open {
> a, > a:hover, > a:focus {
color: $colHighlight;
background-color: $bgHighlight; }}}
.navbar-toggle {
border-color: $bgHighlight;
&:hover, &:focus {
background-color: $bgHighlight; }
.icon-bar {
background-color: $colDefault; }}
.navbar-collapse,
.navbar-form {
border-color: $colDefault; }
.navbar-link {
color: $colDefault;
&:hover {
color: $colHighlight; }}}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu {
> li > a {
color: $colDefault;
&:hover, &:focus {
color: $colHighlight; }}
> .active {
> a, > a:hover, > a:focus {
color: $colHighlight;
background-color: $bgHighlight; }}}
}

.btn-primary {

background-color: rgba(255, 255, 255, 0.1);
border-color: rgba(255, 255, 255, 0.1);


}


@font-face {
src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/polar.otf');
font-family: 'Polar';
}
$polar: 'Polar', Helvetica, Arial, sans-serif;
$openSans: 'Open Sans', Helvetica, Arial, sans-serif;
@mixin mediaMaxWidth($w) {
@media (max-width: $w) {
@content;
}
}
*, *:before, *:after {
box-sizing: border-box;
margin: 0;
padding: 0;
}
html, body {
font-size: 62.5%;
height: 100%;

}

svg {
display: block;
overflow: visible;
}
.slider-container {
position: relative;
height: 100%;
user-select: none;
cursor: all-scroll;
}
.slider-control {
z-index: 2;
position: absolute;
top: 0;
width: 12%;
height: 100%;
transition: opacity 0.3s;
will-change: opacity;
opacity: 0;

&.inactive:hover {
cursor: auto;
}

&:not(.inactive):hover {
opacity: 1;
cursor: pointer;
}

&.left {
left: 0;
background: linear-gradient(to right, rgba(0,0,0,0.18) 0%, rgba(0,0,0,0) 100%);
}
&.right {
right: 0;
background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.18) 100%);
}
}

.slider-pagi {
position: absolute;
z-index: 3;
left: 50%;
bottom: 2rem;
transform: translateX(-50%);
font-size: 0;
list-style-type: none;

&__elem {
position: relative;
display: inline-block;
vertical-align: top;
width: 2rem;
height: 2rem;
margin: 0 0.5rem;
border-radius: 50%;
border: 2px solid #fff;
cursor: pointer;

&:before {
content: "";
position: absolute;
left: 50%;
top: 50%;
width: 1.2rem;
height: 1.2rem;
background: #fff;
border-radius: 50%;
transition: transform 0.3s;
transform: translate(-50%, -50%) scale(0);
}

&.active:before,
&:hover:before {
transform: translate(-50%, -50%) scale(1);
}
}
}

.slider {
z-index: 1;
position: relative;
height: 100%;

&.animating {
transition: transform 0.5s;
will-change: transform;

.slide__bg {
transition: transform 0.5s;
will-change: transform;
}
}
}
.slide {
position: absolute;
top: 0;
width: 100%;
height: 100%;
overflow: hidden;

&.active {

.slide__overlay,
.slide__text{
opacity: 1;
transform: translateX(0);
}
}

&__bg {
position: absolute;
top: 0;
left: -50%;
width: 100%;
height: 100%;
background-size: cover;
will-change: transform;
}
&:nth-child(1) {
left: 0;

.slide__bg {
left: 0;
background-image: url('../img/bf1.jpg');
}

.slide__overlay-path {
fill: rgb(233, 156, 126);
}

@include mediaMaxWidth(991px) {
.slide__text {
background-color: rgba(233, 156, 126, 0.8);
} 
}
}
&:nth-child(2) {
left: 100%;

.slide__bg {
left: -50%;
background-image: url('../img/gta.jpg');
}

.slide__overlay-path {
fill: rgb(225, 204, 174);
}

@include mediaMaxWidth(991px) {
.slide__text {
background-color: rgba(225, 204, 174, 0.8);
} 
}
}
&:nth-child(3) {
left: 200%;

.slide__bg {
left: -100%;
background-image: url('../img/steep.jpg');
}

.slide__overlay-path {
fill: rgb(173, 197, 205);
}

@include mediaMaxWidth(991px) {
.slide__text {
background-color: rgba(173, 197, 205, 0.8);
} 
}
}
&:nth-child(4) {
left: 300%;

.slide__bg {
left: -150%;
background-image: url('../img/se7.jpg');
}

.slide__overlay-path {
fill: rgb(203, 198, 195);
}

@include mediaMaxWidth(991px) {
.slide__text {
background-color: rgba(203, 198, 195, 0.8);
} 
}
}

&__content {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

&__overlay {
position: absolute;
bottom: 0;
left: 0;
height: 100%;
min-height: 810px;
transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
will-change: transform, opacity;
transform: translate3d(-20%, 0, 0);
opacity: 0;

@include mediaMaxWidth(991px) {
display: none;
}

path {
opacity: 0.8;
}
}

&__text {
position: absolute;
width: 25%;
bottom: 15%;
left: 12%;
color: #fff;
transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
will-change: transform, opacity;
transform: translateY(-50%);
opacity: 0;

@include mediaMaxWidth(991px) {
left: 0;
bottom: 0;
width: 100%;
height: 20rem;
text-align: center;
transform: translateY(50%);
transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
padding: 0 1rem;
}

&-heading {
font-family: $polar;
font-size: 5rem;
margin-bottom: 2rem;

@include mediaMaxWidth(991px) {
line-height: 20rem;
font-size: 3.5rem;
}
}

&-desc {
font-family: $openSans;
font-size: 1.8rem;
margin-bottom: 1.5rem;

@include mediaMaxWidth(991px) {
display: none;
}
}

&-link {
z-index: 5;
display: inline-block;
position: relative;
padding: 0.5rem;
cursor: pointer;
font-family: $openSans;
font-size: 2.3rem;
perspective: 1000px;

@include mediaMaxWidth(991px) {
display: none;
}

&:before {
z-index: -1;
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #000;
transform-origin: 50% 100%;
transform: rotateX(-85deg);
transition: transform 0.3s;
will-change: transform;
}

&:hover:before {
transform: rotateX(0);
}
}
}
}

.modal-content {

background-color: #171a21;
color: white;
font-size: 15px;
}







/* DAHBOARD */

* {
box-sizing:border-box; 
}






input[type=checkbox] {
position: absolute;
top: -9999px;
left: -9999px;
}

label { 
display:none;
cursor: pointer;
user-select:none;
}

/* background for li / select */
$img_bg: url(https://raw.github.com/TimPietrusky/mantisbt-is-a-rockstar/master/rockstar/img/bg_dark_grey.png);

/* custom-dropdown */
nav[role="custom-dropdown"] {
position:relative;
width: 100%;

a,
label {
color:#ccc;
text-decoration:none;
font: 1.4em sans-serif;
transition:color .3s ease-in-out;
}

ul {
padding: 0;  
margin: 0 auto;  
width:100%;
list-style:none;

> li {
font-size: 2em;
float:left;
padding:.99em .99em;
width:20%;
background-image: $img_bg;
text-align:center;
transition-duration: .3s;
transition-timing-function: ease-in-out;
transition-property: box-shadow, color;
box-shadow:
0 .05em .25em 0 rgba(0, 0, 0, .35)
;
cursor: pointer;

&:hover {
background-color:rgba(0, 0, 0, .85);
color:#fff;
box-shadow:
0 .05em .25em 0 rgba(0, 0, 0, .35),
inset 0 0 0 2em rgba(0, 0, 0, .3)
;

> a {
color:#fff;
}
}
}
}
}

/* small screens */
@media screen and (max-width: 44em) {
html,
body {
margin:0;      
}

nav[role="custom-dropdown"] {
ul {
display:none;
height:100%;
}

label {
position:relative;
display:block;
width:100%;
min-height:2.25em;
padding:.45em;
margin:0;
border: .15em solid rgba(60, 60, 60, .2);
background-image: $img_bg;
}

label:after {
position: absolute;
right: .25em;  
top: 0; 
content:"\2261";
font-size:1.8em;
}

input[type=checkbox]:checked ~ label:after {
color:#222;
}

input[type=checkbox]:checked ~ ul {
display:block;

> li {
width:100%;
opacity:.8;
text-align:left;

&:after {
position:absolute;
right:.25em;
content:"\203A";
font: bold 1.4em sans-serif;
}
}        
}
}
}


* {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body {
background: #242c38;
font-family: 'Roboto';
font-size: 62.5%;
}

.clearfix:after {
content: '';
clear: both;
display: block;
height: 0;
width: 0;
}

ul {
list-style-type: none;
}

a {
color: #00c5b9;
text-decoration: none;
}

h1 {
color: rgba(255,255,255,.6);
text-align: center;
padding-top: 50px;
font-weight: 300;
font-size: 4em;
}

/** ---------------------------------------
* Slider 
----------------------------------------*/
.container1 {
width: 800px;
margin: 40px auto 0;
}

.slider-wrapper {
z-index: 500;
position: relative;
width: 100%;
height: 360px;
background: #FFF;
border: 5px solid #4b5973;
overflow: hidden;
}

.slider-wrapper li {
display: none;
}

.slider-wrapper .current-slide {
display: block;
}

.slider-shadow {
width: 100%;
height: 15px;
position: relative;
}

.slider-shadow:after, .slider-shadow:before {
content: '';
position: absolute;
background: #171c24;
height: 100%;
width: 50%;
left: 10px;
top: -20px;
-webkit-transform: rotate(-4deg);
-ms-transform: rotate(-4deg);
-o-transform: rotate(-4deg);
transform: rotate(-4deg);
-webkit-box-shadow: 0 0 15px 8px #171c24;
box-shadow: 0 0 15px 8px #171c24;
}

.slider-shadow:before {
right: 10px;
left: auto;
-webkit-transform: rotate(4deg);
-ms-transform: rotate(4deg);
-o-transform: rotate(4deg);
transform: rotate(4deg);
}

.slider-wrapper img {
position: absolute;
max-width: 100%;
height: auto;
top: 0;
left: 0;
}

/**
* ---[Caption] ---------------------- 
**/
.slider-wrapper .caption {
position: absolute;
bottom: 0;
left: 0;
background: rgba(0,0,0,0.65);
width: 100%;
padding: 10px;
color: #FFF;
-webkit-transform: translateY(100%);
-ms-transform: translateY(100%);
-o-transform: translateY(100%);
transform: translateY(100%);
opacity: 0;
-webkit-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
transition: all 0.4s ease;
}

.slider-wrapper li:hover .caption {
-webkit-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform: translateY(0);
transform: translateY(0);
opacity: 1;
}


.slider-wrapper h2 {
color: #00c5b9;
font-size: 2em;
font-weight: 400;
margin-bottom: 6px;
}

.slider-wrapper p {
font-size: 1.6em;
font-weight: 300;
line-height: 1.4em;
}

/**
* ---[Botones-Control] ---------------------- 
**/
.control-buttons {
margin-top: 15px;
text-align: center;
}

.control-buttons li {
cursor: pointer;
display: inline-block;
background: #424f66;
text-indent: -99999px;
height: 12px;
width: 12px;
margin: 0 6px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}

.control-buttons li.active {
background: #00c5b9;
}

.authors {
text-align: center;
color: #7a8699;
display: block;
font-size: 1.6em;
font-weight: 300;
margin-top: 80px;
font-size: 300;
}

/** ---------------------------------------
* Responsive 
----------------------------------------*/
@media only screen and (max-width: 825px) {
.container {
width: 500px;
}

.slider-wrapper {
height: 260px;
}
}

@media only screen and (max-width: 535px) {
.container {
padding: 5px;
width: 100%;
margin: 40px 0 0 0;
}

.slider-wrapper {
height: 200px;
}

.slider-wrapper .caption {
display: none;
}

}

@media only screen and (max-width: 410px) {
.slider-wrapper {
height: 160px;
}
}

$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

*, *:before, *:after {
box-sizing: border-box;
}



body {
background:$body-bg;
font-family: 'Titillium Web', sans-serif;
}

a {
text-decoration:none;
color:$main;
transition:.5s ease;
&:hover {
color:$main-dark;
}
}

.form {
background:rgba($form-bg,.9);
padding: 40px;
max-width:600px;
margin:40px auto;
border-radius:$br;
box-shadow:0 4px 10px 4px rgba($form-bg,.3);
}

.tab-group {
list-style:none;
padding:0;
margin:0 0 40px 0;
&:after {
content: "";
display: table;
clear: both;
}
li a {
display:block;
text-decoration:none;
padding:15px;
background:rgba($gray-light,.25);
color:$gray-light;
font-size:20px;
float:left;
width:50%;
text-align:center;
cursor:pointer;
transition:.5s ease;
&:hover {
background:$main-dark;
color:$white;
}
}
.active a {
background:$main;
color:$white;
}
}

.tab-content > div:last-child {
display:none;
}


h1 {
text-align:center;
color:$white;
font-weight:$thin;
margin:0 0 40px;
}

label {
position:absolute;
transform:translateY(6px);
left:13px;
color:rgba($white,.5);
transition:all 0.25s ease;
-webkit-backface-visibility: hidden;
pointer-events: none;
font-size:22px;
.req {
margin:2px;
color:$main;
}
}

label.active {
transform:translateY(50px);
left:2px;
font-size:14px;
.req {
opacity:0;
}
}

label.highlight {
color:$white;
}

input, textarea {
font-size:22px;
display:block;
width:100%;
height:100%;
padding:5px 10px;
background:none;
background-image:none;
border:1px solid $gray-light;
color:$white;
border-radius:0;
transition:border-color .25s ease, box-shadow .25s ease;
&:focus {
outline:0;
border-color:$main;
}
}

textarea {
border:2px solid $gray-light;
resize: vertical;
}

.field-wrap {
position:relative;
margin-bottom:40px;
}

.top-row {
&:after {
content: "";
display: table;
clear: both;
}

> div {
float:left;
width:48%;
margin-right:4%;
&:last-child { 
margin:0;
}
}
}

.button {
border:0;
outline:none;
border-radius:0;
padding:15px 0;
font-size:2rem;
font-weight:$bold;
text-transform:uppercase;
letter-spacing:.1em;
background:$main;
color:$white;
transition:all.5s ease;
-webkit-appearance: none;
&:hover, &:focus {
background:$main-dark;
}
}

.button-block {
display:block;
width:100%;
}

.forgot {
margin-top:-20px;
text-align:right;
}


/** ---------------------------------------
* PAGE JEUX
----------------------------------------*/


.blockjeux{
  h1{

  }

}

/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */
#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}

.main{
 	margin:50px 15px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-control {
    height: auto!important;
padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 400px;
    padding: 10px 40px;
	background:#009edf;
	    color: #FFF;
    text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

h5 {

    color: white;
}

p {

    font-size: 9px;
    color: white;
}

.img2 {
    box-shadow: 0px 0px 20px 0px #000000;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.img2:hover {
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -moz-transform: scale(1.05);
}










